<html>
  <%- include('../head'); -%>
  <body>
    <div>
      <%- include('../navbar', {active: 'lists'}); -%>
    </div>
    <div class="card gedf-card">
        <div class="card-header">
            <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="mr-2">
                        <img class="rounded-circle" width="45" src="https://picsum.photos/50/50" alt="">
                    </div>
                    <div class="ml-2">
                        <div class="h5 m-0">
                          <%= list.customerID -%> </div>
                        <div class="h7 text-muted"><%= list.CustomerName -%></div>
                    </div>
                </div>
            </div>

        </div>
        <div class="card-body">
            <div class="text-muted h7 mb-2"> <i class="fa fa-clock-o"></i><%= list.timePosted -%></div>
            <h5 class="card-title">My List</h5>

            <p class="card-text">
              <ul>
                <%_ for (const item of list.items) { -%>
                  <li>
                    <div class="checkbox">
                      <label><input type="checkbox" value=""><%= item -%></label>
                    </div>
                  </li>
                <%_ } -%>

              </ul>
            </p>
          <table>
            <thead><h4 class="pl-0 border-bottom">Comments:</h4></thead
            <%_ for (const com of list.comments) { -%>
              <tr class="mt=2">
                <th scope="row"><%= com[0] -%>: </td>
                <td><%= com[1] -%></td>
              </tr>
            <%_ } -%>
          </table>
          <div class="input-group mt-3">
            <input type="text" class="form-control">
            <div class="input-group-append">
              <span class="input-group-text">Comment</span>
            </div>
          </div>
        </div>
        <div class="card-footer">
            <a href="#" class="card-link"><i class="fa fa-gittip"></i> Deliver this list</a>
        </div>
    </div>
  </body>
</html>
