<html>
  <%- include('../head'); -%>
  <body>
    <div>
      <%- include('../navbar', {active: 'lists'}); -%>
    </div>
    <div class="card gedf-card">
        <div class="card-header">
            <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="mr-2">
                        <img class="rounded-circle" width="45" src="https://picsum.photos/50/50" alt="">
                    </div>
                    <div class="ml-2">
                        <div class="h5 m-0">
                          <%= list.customerName -%>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="card-body">
            <div class="text-muted h7 mb-2"> <i class="fa fa-clock-o"></i>
              <%= list.timePosted.getMonth() +"/"+ list.timePosted.getDate() +"/"+ list.timePosted.getFullYear() -%>
              <%_ if (list.timePosted.getHours() < 12) { -%>
                <%_ if (list.timePosted.getMinutes() < 10) { -%>
                  <%= list.timePosted.getHours()%12 +":0"+ list.timePosted.getMinutes() +"AM" -%>
                <%_ } else { -%>
                  <%= list.timePosted.getHours()%12 +":"+ list.timePosted.getMinutes() +"AM" -%>
              <%_ } else { -%>
                <%_ if (list.timePosted.getMinutes() < 10) { -%>
                  <%= list.timePosted.getHours()%12 +":0"+ list.timePosted.getMinutes() +"PM" -%>
                <%_ } else { -%>
                  <%= list.timePosted.getHours()%12 +":"+ list.timePosted.getMinutes() +"PM" -%>
              <%_ } -%>
            </div>
            <h5 class="card-title"><%= list.title -%></h5>

            <p class="card-text">
              <ul id="bulletlist" class="a">
                <%_ for (const item of list.items) { -%>
                  <li>
                    <div>
                      <label> <input><%= item -%></label>
                    </div>
                  </li>
                <%_ } -%>

              </ul>
            </p>
          <%- include('./comments', {li: list}); -%>

        </div>
        <div class="card-footer">
          <div class="row">
            <ul class ="a">
              <li>
                <%_ if (list.claimedBy) { -%>
                  <p class="text-warning">Claimed By: <%= list.claimedBy -%></p>
                <%_ } else { -%>
                  <button id="claim" class="btn btn-primary">Claim this List</button>
                  <p class="text-primary">List Not Claimed</p>
                <%_ } -%>
              </li>
              <li>
                <%_ if (user._id == list.customerID) { -%>
                  <button id="fulfill" class="btn btn-success">Fulfill</button>
                <%_ } -%>
              </li>
            </ul>
            <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
            <script>
              $('#claim').on('click', function(event) {
                event.preventDefault();
                $.ajax({method: 'put', url: '/lists/<%= list._id -%>'})
                  .done(() => window.location.reload())
                  .fail(error => alert('Could not claim List'));
              })
              $('#fulfill').on('click', function(event) {
                event.preventDefault();
                $.ajax({method: 'delete', url: '/lists/<%= list._id -%>'})
                  .done(() => window.location.assign('mylists'))
                  .fail(error => alert('Could not fulfill List'));
              })
            </script>
          </div>
        </div>
    </div>
  </body>
</html>
