<html>
  <%- include('../head'); -%>
  <body>
    <div>
      <%- include('../navbar', {active: 'lists'}); -%>
    </div>
    <div class="card gedf-card">
        <div class="card-header">
            <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="mr-2">
                        <img class="rounded-circle" width="45" src="https://picsum.photos/50/50" alt="">
                    </div>
                    <div class="ml-2">
                        <div class="h5 m-0">
                          <%= list.customerID -%> </div>
                        <div class="h7 text-muted"><%= list.CustomerName -%></div>
                    </div>
                </div>
            </div>

        </div>
        <div class="card-body">
            <div class="text-muted h7 mb-2"> <i class="fa fa-clock-o"></i><%= list.timePosted -%></div>
            <h5 class="card-title">My List</h5>

            <p class="card-text">
              <ul>
                <%_ for (const item of list.items) { -%>
                  <li>
                    <div class="checkbox">
                      <label><input type="checkbox" value=""><%= item -%></label>
                    </div>
                  </li>
                <%_ } -%>

              </ul>
            </p>
          <table>
            <thead><h4 class="pl-0 border-bottom">Comments:</h4></thead
            <%_ for (const com of list.comments) { -%>
              <tr class="mt=2">
                <th scope="row"><%= com[0] -%>: </td>
                <td><%= com[1] -%></td>
              </tr>
            <%_ } -%>
          </table>
          <form>
            <div class="input-group mt-3">
              <input type="text" class="form-control">
              <div class="input-group-append">
                <button type="submit" class="input-group-text">Comment</button>
              </div>
            </div>
          </form>

        </div>
        <div class="card-footer">
          <div class="row">
            <button id="claim">Claim this List</button>
            <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
            <script>
              $('#claim').on('click', function(event) {
                event.preventDefault();
                $.ajax({method: 'put', url: '/lists/<%= list._id -%>'})
                  .done(() => window.location.reload())
                  .fail(error => alert('Could not claim List'));
              })
              $('form').on('submit', function(event) {
                const form = $(this);
                event.preventDefault();
                $.ajax({method: 'put', url: '/lists/<%= list._id -%>/comments', data: form.serialize()})
                  .done(() => window.location.reload())
                  .fail(error => alert('Could not comment'));
              })
            </script>
            <%_ if (list.claimedBy) { -%>
              <p>Claimed By: <%= list.claimedBy -%></p>
            <%_ } else { -%>
              <p>List Not Claimed</p>
            <%_ } -%>
          </div>
        </div>
    </div>
  </body>
</html>
