<!DOCTYPE html>
<html>
  <%- include('../head'); -%>


  <!------ Include the above in your HEAD tag -----

  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
          crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
          crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
          crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
          crossorigin="anonymous"></script>
---->
  <body>
    <div class="pb-5">
      <%- include('../navbar', {active: 'lists'}); -%>
    </div>
    <div class="container-fluid gedf-wrapper">
        <div class="row">
            <div class="mx-auto gedf-main" style="width: 800px;">

                <!--- \\\\\\\Post-->
                <div class="card gedf-card">
                    <div class="card-header">
                        <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="posts-tab" data-toggle="tab" href="#posts" role="tab" aria-controls="posts" aria-selected="true">Make
                                    a list</a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="posts" role="tabpanel" aria-labelledby="posts-tab">
                                <div class="form-group">
                                    <label class="sr-only" for="message">post</label>

                                    <form class="addItem">
                                      <input placeholder="List title" type="text" class="form-control mb-4" id="title">
                                      <input placeholder="item" type="text" class="form-control m-7" id="items">
                                      <button class="btn btn-outline-primary btn-sm mt-3" type="add" id="answers">Add Item</button>
                                    </form>
                                    <form class="createButton pt-3">
                                      <button class="btn btn-outline-success btn-sm mt-3 mb-2" type="add">Create List</button>
                                      <ul id="history1"></ul>
                                    </form>

                                    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
                                    <script>
                                    //let counter = 0;
                                    //var items = [];
                                      $('.addItem').on('submit', function(event) {
                                        const form = $(this); // JQuery object representing the form
                                        event.preventDefault(); // Don't really submit the form

                                        // Create a new list
                                        const list = $('<li></li>');
                                        //counter++;

                                        // Translate each input value into a list item
                                        const inputs = form.find('#items'); // JQuery object represent all inputs
                                        for (let input of inputs) {
                                          input = $(input); // Turn into a JQuery object
                                          const li = $(`<input class="mt-1" type = "text" name='items' value = '${input.val()}' aria-describedby="basic-addon2">`); // New list item
                                          list.append(li);
                                          //items.push(input.val());

                                          input.val(''); // Empty out the box
                                        }

                                        $('#history1').append(list);
                                      });



                                      $('.createButton').on('submit', function(event) {
                                        const form = $(this);
                                        event.preventDefault();
                                        $.ajax({method: 'post', url: '/lists', data: form.serialize()})
                                          .done(() => window.location.reload())
                                          .fail(error => alert('Could not create List'));
                                      })

                                    </script>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Post /////-->

                <!--- \\\\\\\Post-->
                <table class="table">
                  <%_ for (const list of lists) { -%>
                    <tr class="mt-3">
                      <div class="card gedf-card mt-3">
                          <div class="card-header">
                              <div class="d-flex justify-content-between align-items-center">
                                  <div class="d-flex justify-content-between align-items-center">
                                      <div class="mr-2">
                                          <img class="rounded-circle" width="45" src="https://picsum.photos/50/50" alt="">
                                      </div>
                                      <div class="ml-2">
                                          <div class="h5 m-0">
                                            <%= list.customerID -%> </div>
                                          <div class="h7 text-muted"><%= list.CustomerName -%></div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="card-body">
                              <div class="text-muted h7 mb-2"> <i class="fa fa-clock-o"></i>
                                <%= list.timePosted.getMonth() +"/"+ list.timePosted.getDate() +"/"+ list.timePosted.getFullYear() -%>
                                <%_ if (list.timePosted.getHours() < 12) { -%>
                                  <%= list.timePosted.getHours()%12 +":"+ list.timePosted.getMinutes() +"AM" -%>
                                <%_ } else { -%>
                                  <%= list.timePosted.getHours()%12 +":"+ list.timePosted.getMinutes() +"PM" -%>
                                <%_ } -%>
                              </div>
                              <a class="card-link" href="/lists/<%= list.id -%>" >
                                  <h5 class="card-title"><%= list.title -%></h5>
                              </a>
                          <div class="card-footer">
                              <%_ if (list.claimedBy) { -%>
                                <p class="text-warning">Claimed By: <%= list.claimedBy -%></p>
                              <%_ } else { -%>
                                <p class="text-primary">List Not Claimed</p>
                              <%_ } -%>
                          </div>
                      </div>
                    </tr>
                  <%_ } -%>
                </table>
                <!-- Post /////-->


              </div>
          </div>
       </div>
  </body>
</html>
