<header class="navbar navbar-expand navbar-dark bg-dark">
  <h1 class="navbar-brand">Grocery List</h1>
  <nav class="navbar-nav ml-3">
    <a href="/users" class="nav-item nav-link <%= active === 'users' ? 'active' : 'inactive' -%>">My Account</a>
    <a href="/lists/mylists" class="nav-item nav-link <%= active === 'lists/mylists' ? 'active' : 'inactive' -%>">My Grocery Lists</a>
    <a href="/lists/myclaimed" class="nav-item nav-link <%= active === 'lists/myclaimed' ? 'active' : 'inactive' -%>">My Claimed Lists</a>
    <a href="/lists/unclaimed" class="nav-item nav-link <%= active === 'lists/unclaimed' ? 'active' : 'inactive' -%>">Unclaimed Lists</a>
    <a href="/lists" class="nav-item nav-link <%= active === 'lists' ? 'active' : 'inactive' -%>">All Lists</a>
    <a href="/" class="nav-item nav-link">Logout</a>
  </nav>
</header>
