<!DOCTYPE html>
<html>
  <%- include('../head'); -%>


  <!------ Include the above in your HEAD tag ---------->

 <!---
  <body>
    <div class="pb-5">
      <%- include('../navbar', {active: 'users'}); -%>
    </div>
    <div class = "m-5">
    <div class = "container-fluid m-5" id="profilepicture">
      <img class="rounded circle" src="http://via.placeholder.com/200x200">
    </div>
  </body>
--->
    <body>
      <%- include('../navbar', {active: 'users'}); -%>

            <main class="p-3">
              <div class="row">
                <div class="mr-2 col-auto p-3 border-left">
                    <img class="rounded-circle" width="175" src="https://picsum.photos/50/50" alt="">
                </div>
                <div class="col pt-3">
                  <h2><%= user.Name -%></h2>
                  <p>@<%= user._id -%></p>
                  <p>Location: <%= user.location -%></p>
                  <p>Phone Number: <%= user.phone -%></p>
                  <p>Availability: </p>
                </div>
              </div>
            </main>

    </body>
  </html>
