<!DOCTYPE html>
<html>
  <%- include('../head'); -%>

  <!-- Include the above in your HEAD tag -->

    <body>
      <%- include('../navbar', {active: 'users'}); -%>

            <main>

                <div class="row">
                  <div class="col-4 pt-4 text-center">
                    <img class="rounded-circle" width="250" src="https://picsum.photos/50/50" alt="">
                  </div>
                  <div class="col-8 pt-5">
                    <h1 class="display-4"><%= user.name -%></h1>
                    <p class="lead">@<%= user._id -%></p>
                    <p class="lead"><b>Location: </b><%= user.location -%></p>
                    <p class="lead"><b>Phone Number: </b><%= user.phone -%></p>
                  </div>
                </div>

            </main>
    </body>
  </html>
