<!DOCTYPE html>
<html>
  <%- include('../head'); -%>


  <!------ Include the above in your HEAD tag ---------->

 <!---
  <body>
    <div class="pb-5">
      <%- include('../navbar', {active: 'users'}); -%>
    </div>
    <div class = "m-5">
    <div class = "container-fluid m-5" id="profilepicture">
      <img class="rounded circle" src="http://via.placeholder.com/200x200">
    </div>
  </body>
--->
    <body>
      <%- include('../navbar', {active: 'users'}); -%>

            <main class="p-3">
              <div class="mr-2 col-2">
                  <img class="rounded-circle" width="175" src="https://picsum.photos/50/50" alt="">
              </div>
              <div class="col-6">
                <h2><%= user.Name -%></h2>
                <p>@<%= user._id -%></p>
                <p><%= user.location -%></p>
                <p>Phone Number: <%= user.phone -%></p>
              </div>
            </main>

    </body>
  </html>
